html {
  text-align: center;
  background-color: white;
}
#battleship_board_container{
  display: inline-block;
}
table{
  border: 1px solid black;
  border-spacing: 0px;
}

th, td{
  border: 1px solid black;
  height: 25px;
  width: 25px;
}
.player_pieces {
  border: 1px solid red;
  background-color: black;
  height: 25px;
  width: 25px;
}
.computer_pieces {
  border: 1px solid red;
  background-color: black;
  height: 25px;
  width: 25px;
}
#computer_player_avatar{
  border-radius: 100%;
  position:fixed;
  background-color: yellow;
  margin: 8% 15%;
  height:  50px;
  width:  50px;
}
#computer_player_box{
  position:fixed;
  background-color: grey;
  margin: 10% 15%;
  height:  60px;
  width:  60px;
}
#player_boatholder{
  display: flex;
  justify-content: space-around;
  height: 150px;
  align-items: center;
}
.hit_on_computer{
  background-color: red !important;
}
.miss_on_computer{
  background-color: grey !important;
}
.hit_on_player{
  background-color: red !important;
}
.miss_on_player{
  background-color: grey !important;
}
.clickable:hover{
  background-color: pink;
}
.explosion_container{
  background-image: url("images/explosion2.gif");
  background-size: contain;
}
.player_ship_destroyed{
  background-image: url("images/destroyed.gif");
  background-size: contain;
}
/*TABLET VERSION*/
@media (max-width: 900px) {
  html {
    text-align: center;
  }
}
/*MOBILE VERSION*/
@media (max-width: 500px) {
  html {
    text-align: center;
  }
}
