html {
  text-align: center;
}
#battleship_board_container{
  display: inline-block;
}
table, tbody, thead, th, td{
  border: 1px solid black;
}
#computer_player_box{
  border-radius: 100%;
  position:fixed;
  background-color: yellow;
  height:  50px;
  width:  50px;
}
